<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Streamer Rewards</title>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
</head>
<section layout:fragment="content">
    <h2>Events</h2>
    <div th:replace="~{streamer/components/eventRewards}"></div>
    <h2>Webhooks</h2>
    <div th:replace="~{streamer/components/webhook}"></div>
    <h2>Rewards</h2>
    <div th:replace="~{streamer/components/rewards}"></div>
</section>
</html>